*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #6495ED;
    font-family: monospace;
    outline: none;
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator{
    background-color: white;
    padding: 15px;
    border-radius: 30px;
    /* box-shadow: inset 5px 5px 12px #ffff,
                      5px 5px 12px #b7e7f7; */
    display: grid;
    grid-template-columns: repeat(5, 68px);
}

input{
    grid-column: span 5;
    background-color: #ADD8E6;
    height: 70px;
    width: 330px;
    border: none;
    border-radius: 30px;
    font-size: 40px;
    text-align: end;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 30px; 
    padding-right: 10px;   
}

button{
    height: 48px;
    width: 48px;
    border: none;
    background-color: #00BFFF;
    border-radius: 10px 10px;
    box-shadow: -5px -5px 12px #ffffff
                    5px 5px 12px rgba(0,0,0,.16);
    margin-left: 15px;
    margin: 8px;
    font-size: 16px;
    font-weight: 400;
}
.space{
    width: 115px;
    /* border-radius: 40px; */

}